# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.build-impl.xml
/Proyecto_1/nbproject/private/
/Proyecto_2/nbproject/private/
/Proyecto_3/nbproject/private/
/Proyecto_4/nbproject/private/
/Proyecto_5/nbproject/private/
/Proyecto_6/nbproject/private/
/Proyecto_7/nbproject/private/
/Proyecto_8/nbproject/private/
/Proyecto_9/nbproject/private/
/Proyecto_10/nbproject/private/
/Proyecto_7/build/
/Proyecto_7/dist/
/Proyecto_10/build/
/Proyecto_10/dist/
/Proyecto_11/nbproject/private/
/Proyecto_11/build/
/Proyecto_12/nbproject/private/
/Proyecto_12/build/
